<%- include('partials/head') %>
<%- include('partials/header/header') %>
<%- include('partials/header/waves-header') %>

<section id="details" class="details">
    <div class="object">
        <div class="image">
            <img src="<%= data.webImage ? data.webImage.url : '/placeholder.png' %>">
        </div>
        <div class="info-container">
            <div class="tabs-nav">
                <a href="#tab1" class="tab-link tab1">Object Nr.</a>
                <a href="#tab2" class="tab-link tab2">Presentatie Datum</a>
                <a href="#tab3" class="tab-link tab3">Kleuren</a>
            </div>

            <div class="tabs-content">
                <div id='tab1' class='tab-content tab1'>
                    <p><%= data.objectNumber %></p>
                </div>
                <div id='tab2' class='tab-content tab2'>
                    <p><%= data.dating.presentingDate %></p>
                </div>
                <div id='tab3' class='tab-content tab3'>
                    <div class="colors">
                        <% if(data.colors.length !== 0) {%>
                            <ul>
                                <% data.colors.map(colors => { %>
                                    <li class="hex-color" style="background-color: <%= colors.hex %>"><%= colors.hex %></li>
                                <% }).join('') %>
                            </ul>
                        <%} else {%>
                            <span class="not-defined">niet bekend</span>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
