<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<%- include('partials/waves-header') %>

<section id="details" class="details">
    <div class="object">
        <div class="image">
            <img src="<%= detailsData.webImage ? detailsData.webImage.url : './img/placeholder.png' %>">
        </div>
        <div class="info-container">
            <input id="tab-1" type="radio" name="tabs"/>
            <input id="tab-2" type="radio" name="tabs"/>
            <input id="tab-3" type="radio" name="tabs"/>
            <div class="tabs">
                <label for="tab-1">Object Nr.</label>
                <label for="tab-2">Presentatie datum</label>
                <label for="tab-3">Kleuren</label>
            </div>
            <div class="content">
                <div class="tab">
                    <div>
                        <span><%= detailsData.objectNumber %></span>
                    </div>
                </div>
                <div class="tab">
                    <div>
                        <span><%= detailsData.dating.presentingDate %></span>
                    </div>
                </div>
                <div class="tab">
                    <div class="colors">
                        <% if(detailsData.colors.length !== 0) {%>
                            <ul>
                                <% detailsData.colors.map(colors => { %>
                                    <li class="hex-color" style="background-color: <%= colors.hex %>"><%= colors.hex %></li>
                                <% }).join('') %>
                            </ul>
                        <%} else {%>
                            <span class="not-defined">niet bekend</span>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>
