<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>
<a href="/">Back</a>

<section id="details" class="details">
    <div class="object active">
        <div class="title">
            <h3 class="title-name"><%= detailsData.title %></h3>
            <span class="title-objectnumber"><%= detailsData.objectNumber %></span>
        </div>
        <div class="presenting-date">
            <span>Year the painting was presented: <span class="date"><%= detailsData.dating.presentingDate %></span></span>
        </div>
        <div class="colors">
            <span>Colors:</span>
            <% if(detailsData.colors.length !== 0) {%>
                <ul>
                    <!--
                        loop through the colors in the array and place them in a li tag
                        used .join('') on the map to remove apostrophe
                    -->
                    <% detailsData.colors.map(colors => { %>
                        <li class="hex-color" style="background-color: <%= colors.hex %>"><%= colors.hex %></li>
                    <% }).join('') %>
                </ul>
            <%} else {%>
                <span class="not-defined">not defined</span>
            <%}%>
        </div>
    </div>
</section>