<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<main>
    <div id="objects" class="objects">
        <% if(overviewData.length !== 0) {%>
            <% overviewData.map(item => { %>
                <a href="/schilderij/<%= item.objectNumber %>" class="link">
                    <div class="object">
                        <img src="<%= item.webImage ? item.webImage.url : 'Geen afbeelding' %>">
                        <div class="title">
                            <h3 class="title-name"><%= item.title %></h3>
                        </div>
                    </div>
                </a>
            <% }); %>
        <% } else {%>
            <span>Oeps! Het lijkt erop alsof iets mis is gegaan.</span>
        <% }%>
    </div>
</main>
