<%- include('partials/head') %>
<%- include('partials/header') %>
<%- include('partials/waves-header-results') %>

<main>
    <div id="objects" class="objects">
        <% if(searchData.length !== 0) {%>
            <% searchData.map(item => { %>
                <a href="/schilderij/<%= item.objectNumber %>" class="link">
                    <div class="object">
                        <img src="<%= item.webImage ? item.webImage.url : './img/placeholder.png' %>">
                        <div class="title">
                            <h3 class="title-name"><%= item.title %></h3>
                        </div>
                    </div>
                </a>
            <% }); %>
        <% } else {%>
            <span>Oeps! Het lijkt erop alsof iets mis is gegaan.</span>
        <% }%>
    </div>
</main>

</body>
</html>